.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: calc(100vw-50px);
  /* min-height: calc(100% - 90px); */
  height: 100vh;
  background-color: white;
  /* position: relative; */
}

.main > section {
  padding: 32px;
}
